{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<div class='d-flex justify-content-center'>
    <div style='width:40rem' class='me-3'>
        <h1 class='my-5 text-center'>채팅방</h1>
        <textarea id="chat-log" cols="100" rows="20" class='form-control my-2'></textarea>
        <input id="chat-message-input" type="text" size="100" class='form-control my-1'>
        <div class="d-grid">
            <input id="chat-message-submit" type="button" value="전송하기" class='btn btn-primary my-2 mb-5'>
        </div>
    </div>
    <div style='width:10rem'>
        <h1 class='my-5 text-center'>유저</h1>
        <textarea id="userList" rows="24" class='form-control my-2'></textarea>
    </div>
</div>

<input type="text" id="user" value='{{ user }}' hidden=hidden>
<input type="text" id="userid" value='{{ userid }}' hidden=hidden>

<textarea id="useridList" cols="30" rows="10" hidden=hidden></textarea>

{{ user|json_script:"user" }}
{{ userid|json_script:"userid" }}
{{ room_name|json_script:"room-name" }}

<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const user = document.getElementById('user').value
    const userid = document.getElementById('userid').value

    const userList = document.getElementById('userList')
    const useridList = document.getElementById('useridList')


    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.user + ' : ' + data.message + '\n');
            if (useridList.value.includes(data.userid)) {
            }
            else {
                useridList.value += (data.userid + '\n');
                userList.value += (data.user + '\n');
            }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'user' : user,
            'userid' : userid,
        }));
    
        messageInputDom.value = '';
    }
</script>
{% endblock  %}