{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container">

    <h2 class=" mt-4">제목 :
      {{ meeting.title }}</h2>
    <p>내용 :
      {{ meeting.content }}</p>

    <div class="my-5">
      <h4 class="fw-bold">리뷰 작성</h4>
      {% if request.user.is_authenticated %}
        <form action="{% url 'meetings:comment_create' meeting.pk %}" method="POST">
          {% csrf_token %}
          <input type="text" name="content">
          <button class="btn btn-outline-primary ">작성</button>
        </form>
      {% endif %}
    </div>

    <div class="d-flex">
      이 방에 참여한 유저들: 
      <div>
      {% for user in user_list %}
        <a href="">{{ user.nickname }}</a>
      {% endfor %}
      </div>
    </div>

    <form action="{% url 'meetings:detail' meeting.pk %}" method="POST" class="m-1">
      {% csrf_token %}
      <button name="belong_id" value="belong_id">
        참여
      </button>
    </form>
    {% if meeting.belong %}
    {{ meeting.belong.count }}

    {% endif %}
    <small>참여버튼을 누르시면 비밀번호 입력없이 들어올 수 있습니다.</small>

    <div class="my-3">
      댓글 수 :
      {{ metting.comment_set.count }}
    </div>

    {% for comment in comments %}
      <div>
        <p>{{ comment.user.username }}</p>
      </div>
      <p class="fs-6">{{ comment.created_at|date:"SHORT_DATETIME_FORMAT" }}</p>
      <p>{{ comment.content }}</p>

      {% if request.user == comment.user %}
        <form action="{% url 'meetings:comment_delete' meeting.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit">삭제</button>
        </form>
      {% endif %}
      <hr>
      {% empty %}
      <p>댓글이 없습니다.</p>
    {% endfor %}

    <div>
      <a class="btn btn-outline-secondary" href="{% url 'meetings:index' %}">목록</a>
      {% if request.user == meeting.user %}
        <a class="float-end btn btn-outline-primary" href="{% url 'meetings:update' meeting.pk %}">
          수정
        </a>
        <a class="float-end btn btn-outline-danger" href="{% url 'meetings:delete' meeting.pk %}">
          삭제
        </a>
      {% endif %}
    </div>
  </div>


  {% comment %} js {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const form = document.querySelector("#belong-form")
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const userId = event.target.dataset.userId

        axios({
          method: 'post',
          url: `/accounts/${userId}/belonging/`,
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
          .then((response) => {
            const isBelonged = response.data.is_belonged
            const belongBtn = document.querySelector('#belong-form > input[type=submit]')
            if (isBelonged === true) {
              belongBtn.value = '모임참여 취소'
            } else {
              belongBtn.value = '모임참여'
            }
            // const followerCountTag = document.querySelector('#followers-count')
            // const followingCountTag = document.querySelector('#followings-count')
            // const followersCount = response.data.followers_count
            // const followingsCount = response.data.followings_count
            // followerCountTag.innerText = followersCount
            // followingCountTag.innerText = followingsCount
          })
          .catch((error) => {
            console.log(error.response)
          })
      })

    </script>
{% endblock content %}
