{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="body">
    <div id="outer">
      <div class="snowflakes" aria-hidden="true">
        <div class="snowflake" style="font-size: 12px">❉</div>
        <div class="snowflake" style="font-size: 26px">❆</div>
        <div class="snowflake" style="font-size: 16px">❆</div>
        <div class="snowflake" style="font-size: 20px">❉</div>
        <div class="snowflake" style="font-size: 20px">❆</div>
        <div class="snowflake" style="font-size: 22px">❆</div>
        <div class="snowflake" style="font-size: 10px">❆</div>
        <div class="snowflake" style="font-size: 28px">❆</div>
        <div class="snowflake" style="font-size: 24px">❆</div>
        <div class="snowflake" style="font-size: 22px">❆</div>
        <div class="snowflake" style="font-size: 20px">❆</div>
        <div class="snowflake" style="font-size: 16px">❉</div>
        <div class="snowflake" style="font-size: 18px">❆</div>
        <div class="snowflake" style="font-size: 26px">❉</div>
        <div class="snowflake" style="font-size: 28px">❆</div>
        <div class="snowflake" style="font-size: 12px">❆</div>
      </div>
    </div>
    <div class="entry bg">
      <div class="container">
        <div class=" row align-content-center justify-content-center align-items-center">
          <div class="col-6">
            <h1 class=" p-4 text-bg-danger">커뮤니티 편지쓰기</h1>
          </div>
          <div class="col-6">
            <img src="https://png.pngtree.com/illustration/20190226/ourlarge/pngtree-christmas-christmas-fireplace-family-image_11750.jpg" style="width:700px; height:400px;" alt="">
          </div>
        </div>

      </div>
    </div>

    <!-- <script> function createSnow(){ const el = Document.createElement("div"); el.classList.add("snow"); el.style.marginLeft = randomPostion() + 'px'; document.body.appendChild(el); } function randomPostion(){ return Math.floor(Math.random() * window.innerWidth); } for(let i=0; i<300; i++){ createSnow(); } </script> -->

  </div>

{% endblock content %}
