{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}


{% comment %} 모임생성 버튼 및 숫자 {% endcomment %}

{% comment %} 모임 목록 {% endcomment %}

<div class="container mt-2 m-3">
  <div class="d-flex justify-content-between align-items-center">
    <div class="fs-3">모임 목록 ({{ meetings_count }})</div>
    <div class="btn btn-warning">
      <a style="text-decoration:none" class="text-dark" href="{% url 'meetings:create' %}">나도 모임 생성하기</a>
    </div>
  </div>
  {% comment %} 지역별 목록 {% endcomment %}
  <div class="container p-0">
    
  </div>
  <div class="mt-3">
    <span class="fw-bold" style="color: #da2c38">{{ meetings_local_name }}</span>에 위치한 모임들 
    <hr/>
  </div>
  
  <div class="d-flex align-items-center">
    <form custom-form action="{% url 'meetings:index'%}" method="POST" class="m-1">
      {% csrf_token %}
      <button id="custom-btn" name="reset" value="reset">
        모두보기
      </button>
    </form>
    {% for local in meetings_local_list %}
    <span class="mx-1">|
      <a href="?local={{local}}" class="mx-1 custom-link" style="text-decoration:none">
      {{ local }}
      </a>
    </span>
    {% endfor %}
  </div>
  <hr/>

  
<div class="d-flex">
  {% for meeting in page_obj %}
      {% comment %}  {% endcomment %}
      <div class="container cus-container">
        {% if request.user in meeting.belong.all %}
          <div class="JJim fs-3" >
            <span class="cus-shadow">❤️</span>
          </div>
        {% elif meeting.password %}
          <div class="JJim fs-3" >
            <span class="cus-shadow">🔒</span>
          </div>         
        {% endif %}
        <div class="card cus-card">
          <div class="cus-imgBx">
            {% if meeting.image %}
            <img src="{{ meeting.image.url }}" class="card-img-top rounded-4" alt="..." >
            {% else %}
            <img src="https://images.unsplash.com/photo-1482517967863-00e15c9b44be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="rounded-4">
            {% endif %}
          </div>
          <div class="cus-contentBx">
            <h2>{{ meeting.title }}</h2>
            <div class="cus-size">
              <div class="fs-6 mt-2">{{ meeting.content|truncatewords:14 }}</div>
            </div>
          </div>
          <div class="cus-contentBx2">
            <div class="cus-color">
              <div>
                {% comment %} <small class="d-flex justify-content-end mx-2">{{ meeting.created_at|date:'o.m.d D' }} {{meeting.created_at|time:"H:i"}}</small> {% endcomment %}
              </div>
            </div>
            <a class="mx-2" href="{% url 'accounts:profile' meeting.user.username %}">{{ meeting.user.nickname }}</a>
            {% comment %} 패스워드 로직 {% endcomment %}
            <div>
              {% if request.user in meeting.belong.all %}
              <a href="{% url 'meetings:detail' meeting.pk %}" class="btn btn-primary px-3">
                <span></span>
                <span>입장하기</span>
              </a>
              {% elif meeting.password %}
              <button action="{% url 'meetings:password' meeting.pk %}" method="POST" onClick="" type="button" class="btn btn-primary px-3" data-bs-toggle="modal" data-bs-target="#{{meeting.text}}">
                <span>🔒</span>
                <span>입장하기</span>
              </button>
              {% else %}
              <a href="{% url 'meetings:detail' meeting.pk %}" class="btn btn-primary px-3">
                <span></span>
                <span>입장하기</span>
              </a>
              {% endif %}
              {% comment %}  {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      {% comment %}  {% endcomment %}

            {% comment %} 모달 {% endcomment %}
            <div class="modal fade" id="{{meeting.text}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{meeting.title}}
                      <div>비밀번호 입력하기
                      </div>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-footer">
                    <form action="{% url 'meetings:password' meeting.pk %}" method="POST">
                      {% csrf_token %}
                      <input type="password" name="password" id="password" style="width:400px;">
                      <input type="submit">
                    </form>
                  </div>
                </div>
              </div>
            </div>
    
  {% endfor %}
  {% comment %} 내가참여한 모임들 {% endcomment %}
  <div class="card d-flex align-items-center" style="min-width: 150px;">
    <div>참여신청한 모임들</div>
    {% for meeting in meetings_all %}
    <div class="d-flex align-items-center">
        {% if request.user in meeting.belong.all %}
          <a style="text-decoration:none;" href="{% url 'meetings:detail' meeting.pk %}" class="text-dark">{{ meeting.title }}</a>
          <form id="custom-form" action="{% url 'meetings:detail' meeting.pk %}" method="POST" class="m-1">
            {% csrf_token %}
            <button id="custom-btn"name="belong_id2" value="belong_id2">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
              </svg>
            </button>
          </form>
        {% endif %}
      </div>
      {% endfor %}
  </div>
</div>

  


{% comment %} 노원구 {% endcomment %}


{% comment %} 페이지네이션  {% endcomment %}
<div class="d-flex justify-content-center mt-3">
  <div class="paginagtion">
    <span class="step-links">
    {% comment %} {% for local in meetings_local_list %} {% endcomment %}
      
      {% if at_all %}
      {% if page_obj.has_previous %}
      <a style="text-decoration:none; color:black" href="?local={{ page_obj }}">&laquo; 처음</a>
      <a style="text-decoration:none; color:black" href="?local={{ page_obj.previous_page_number }}">이전</a>
      {% endif %}

      <span class="current">
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      
      <a style="text-decoration:none; color:black" href="?local={{ page_obj.next_page_number }}">다음</a>
      <a style="text-decoration:none; color:black" href="?local={{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>

      {% endif %}
      {% endif %}


      {% comment %} 노원구라면 {% endcomment %}
      {% if nw %}
      {% if page_obj.has_previous %}
      <a href="?local={{nw}}{{ page_obj }}">&laquo; 처음</a>
      <a href="?local={{nw}}{{ page_obj.previous_page_number }}">이전</a>
      {% endif %}

      <span class="current">
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      
      <a href="?local={{nw}}{{ page_obj.next_page_number }}">다음</a>
      <a href="?local={{nw}}{{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>

      {% endif %}
      {% endif %}

      {% comment %} 송파구라면 {% endcomment %}

      {% if sp %}
      {% if page_obj.has_previous %}
      <a href="?local={{sp}}{{ page_obj }}">&laquo; 처음</a>
      <a href="?local={{sp}}{{ page_obj.previous_page_number }}">이전</a>
      {% endif %}

      <span class="current">
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      
      <a href="?local={{sp}}{{ page_obj.next_page_number }}">다음</a>
      <a href="?local={{sp}}{{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>

      {% endif %}
      {% endif %}
      
    </span>
  </div>
</div>
{% endblock content %}