
{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}


{% comment %} 모임생성 버튼 및 숫자 {% endcomment %}
<div class="container">
  <div>
    지금까지 총 {{ meetings_count }}개의 모임이 개설됐어요!
  </div>
</div>
{% comment %} 모임 목록 {% endcomment %}

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h1>모임 목록</h1>
    <div>
      <a href="{% url 'meetings:create' %}">나도 모임 생성하기</a>
    </div>
  </div>
  {% comment %} 지역별 목록 {% endcomment %}
  <div class="container p-0">
    <div class="d-flex">
      {% for local in meetings_local_list %}
      <form action="{% url 'meetings:index'%}" method="POST" class="m-1">
        {% csrf_token %}
        <button name="{{ local }}" type="submit" value="{{ local }}">
          {{ local }}
        </button>
      </form>
      {% endfor %}
    </div>
  </div>
  <div class="mt-3">
    {{ meetings_local_name }}에 위치한 모임들
    <hr/>
  </div>
  {% for meeting in meetings_local %}
    {% comment %} {% if meeting.image %}
      <img src="{{ meeting.image.url }}" alt=""> {% endcomment %}
    {% comment %} {% elif %}
      <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="my4-2" style="width: 250; height: 250px;">
    {% endif %} {% endcomment %}
  <div> {{ meeting.title }}</div>
  <div> {{ meeting.content }}</div>
  {% endfor %}
  <hr/>
</div>

{% comment %} 페이지네이션  {% endcomment %}
<div class="d-flex justify-content-center">
  <div class="paginagtion">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1"></a>
      <a href="?page={{ page.obj.previous_page_number }}">이전</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">다음</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>
      {% endif %}
    </span>
  </div>
</div> 

{% endblock content %}