
{% load django_bootstrap5 %}
{% load static %}

{% block content %}

{% comment %} 지역별 목록 {% endcomment %}
<div class="d-flex">
  <form action="{% url 'meetings:index'%}" method="POST">
    <button name="노원구" type="submit" value="노원구" >
      노원구
    </button>
  </form>
  
  <div></div>
  <div></div>
  <div></div>
</div>

{% comment %} 모임생성 버튼 및 숫자 {% endcomment %}
<div>
  지금까지 총 {{ meetings_count }}개의 모임이 개설됐어요!
</div>
<div>
  <a href="{% url 'meetings:create' %}">나도 모임 생성하기</a>
</div>

{% comment %} 모임 목록 {% endcomment %}
<div>
  {% for meeting in meetings %}
  {% if meeting.image %}
    <img src="{{ meeting.image.url }}" alt="">
  {% elif %}
    <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="my4-2" style="width: 250; height: 250px;">
  {% endif %}
  <div> {{ meeting.title }}</div>
  <div> {{ meeting.content }}</div>
</div>

{% comment %} 페이지네이션  {% endcomment %}
<div class="d-flex justify-content-center">
  <div class="paginagtion">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1"></a>
      <a href="?page={{ page.obj.previous_page_number }}">이전</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">다음</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>

{% endblock content %}