{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %} 

<h1> 개인용 트리 </h1>

<form action="" method="POST">
  {% csrf_token %}
  {% bootstrap_form form %}
  <div class="cc-selector">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="choice_sock" id="1" value="1">
      <label class="drinkcard-cc sock1" for="sock1"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="choice_sock" id="2" value="2">
      <label class="drinkcard-cc sock2" for="sock2"> </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="choice_sock" id="3" value="3">
      <label class="drinkcard-cc sock3" for="sock3"></label>
    </div>
  </div>

  <div class="cc-selector">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="choice_chim" id="1" value="1">
      <label class="drinkcard-cc chim1" for="chim1"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="choice_chim" id="2" value="2">
      <label class="drinkcard-cc chim2" for="chim2"> </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="choice_chim" id="3" value="3">
      <label class="drinkcard-cc chim3" for="chim3"></label>
    </div>
  </div>


  <br>
  {% bootstrap_button button_type="submit" content="OK" %}
</form>

<form>
  <div class="cc-selector">
      <input id="sock1" type="radio" name="credit-card" value="sock1" />
      <label class="drinkcard-cc sock1" for="sock1"></label>
      <input id="sock2" type="radio" name="credit-card" value="sock2" />
      <label class="drinkcard-cc sock2"for="sock2"></label>
      <input id="sock3" type="radio" name="credit-card" value="sock3" />
      <label class="drinkcard-cc sock3"for="sock3"></label>
  </div>
</form>





{% endblock %}