{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %} 
<div class='d-flex justify-content-center my-5'>
  
  <div style='width:40rem'>
    
  <h1 class='text-center mb-5'> 개인용 벽난로 </h1>

  <form action="" method="POST">
    <h1 class='fs-4 mt-5 mb-4'>벽난로를 선택하세요</h1>

    <div class="cc-selector mb-5">

      <input type="radio" name="choice_chim" id="chim1" value="1">
      <label class="drinkcard-cc chim1" for="chim1"></label>


      <input type="radio" name="choice_chim" id="chim2" value="2">
      <label class="drinkcard-cc chim2" for="chim2"> </label>


      <input type="radio" name="choice_chim" id="chim3" value="3">
      <label class="drinkcard-cc chim3" for="chim3"></label>

    </div>

    <h2 class='fs-4 mt-5 mb-4'>벽난로 장식을 선택하세요.</h2>

    <div class="cc-selector mb-5">
      
        <input type="radio" name="choice_sock" id="sock1" value="1">
        <label class="drinkcard-cc sock1" for="sock1"></label>
      
      
        <input type="radio" name="choice_sock" id="sock2" value="2">
        <label class="drinkcard-cc sock2" for="sock2"> </label>
      
      
        <input type="radio" name="choice_sock" id="sock3" value="3">
        <label class="drinkcard-cc sock3" for="sock3"></label>

        <input type="radio" name="choice_sock" id="sock4" value="4">
        <label class="drinkcard-cc sock4" for="sock4"></label>
      
      
        <input type="radio" name="choice_sock" id="sock5" value="5">
        <label class="drinkcard-cc sock5" for="sock5"> </label>
      
      
        <input type="radio" name="choice_sock" id="sock6" value="6">
        <label class="drinkcard-cc sock6" for="sock6"></label>
      
    </div>

    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="d-grid">
      <input type="submit" value="벽난로 만들기" class="btn btn-primary">
    </div>
    </form>

  </div>

</div>
{% endblock %}