{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}



{% block content %} 
<link rel="stylesheet" href="{% static 'style_card.css' %}" />

<!-- 클릭 전 화면 -->
<section data-page="home" id="home" class="active">
  <div class="container">
    <h1 class="text-center santa-h1"> 산타를 눌러주세요 </h1>
    <a href="#other" data-role="link">
    <div>
      <div class="scontainer">
      <div class="santa">
        <div class="hand-l"></div>
        <div class="hand-r"></div>
        <div class="hat"></div>
        <div class="face">
          <div class="beard"></div>
          <div class="eyes"></div>
        </div>
        <div class="belt"></div>
        <div class="shoe"></div>
      </div>
      <div class="santabag">
        <img src="{%static 'images/santabag.png' %}" height="300px" alt="...">
      </div>
    </div>
    </div>
    </a>
  </div>
</section>


<!-- 클릭 후 화면 -->
<section data-page="other" id="other">
<div class="container">
  <div>
    <a href="#home" data-role="link">산타보기</a>
  </div>

  <div class="row">
    <div class="d-flex justify-content-evenly p-3">
      <div>
        <p class="fs-1 my-0 py-0"> {{ cards.title }} </p>
        <p class="fs-3 my-0 py-0"> {{ cards.content }} </p>
        <!--
        <p> 성별 : {{ cards.user.gender }} </p>
        <p> 양말id : {{ cards.socks }} </p>
        <p> 벽난로id :{{ cards.chimneys }} </p>
        -->
      </div>

      <div>
        <img src="{{ cards.user.profileimage }}" class="rounded">
        <p class="fs-5"> {{ cards.user.nickname }} </p>
      </div>
      
    </div>
  </div>

  <a href="{% url 'cards:gcomment_create' cards.pk %}" class="text-decoration-none"> 메시지 남기기 </a>

  <div>
    <!-- 벽난로 주인의 장식 모달 창 -->
    <div class="modal" id="groupfire" tabindex="-1" aria-labelledby="socksmodal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class='d-flex justify-content-center'>
              <img src='/static/images/양말{{ cards.socks }}.png' style='width:4rem;'>
            </div>
            <div class='mb-2 rounded-2 p-1'>
              <p class='text-center fs-5 my-5'>{{ cards.title }} </p>
              <p class='my-1 text-center'>{{ cards.content }} </p>
            </div>
            <div class='d-grid mt-5'>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">닫기</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class>
      {% if cards.chimneys %}
        {% if cards.socks %}
        <div style='position:relative'>
          <img src="/static/images/벽난로{{ cards.chimneys }}.jpg" class='rounded-1'>
          <a data-bs-toggle="modal" data-bs-target="#groupfire" style='cursor:pointer'>
            <div style='position: absolute; top:2rem; left:2rem;'>
              <img src='/static/images/양말{{ cards.socks }}.png' style='width:4rem;'>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <img src="/static/images/벽난로{{ cards.chimneys }}.jpg">
        </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <a href="{% url 'cards:groupcard_update' cards.pk %}" class="text-decoration-none"> 벽난로 바꾸기 </a>
  <a href="{% url 'cards:groupcard_delete' cards.pk %}" class="text-decoration-none"> 벽난로 부수기 </a>

  {% if cards.user != request.user %}
  <div class='d-grid'>
    <a href="{% url 'cards:usercard_comment' cards.pk %}" class="btn btn-primary my-3 fs-4"> 벽난로 꾸며주기 </a>
  </div>
  {% endif %}
  
  
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="socksmodal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="socksmodal">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>



</section>






<!-- 배경 아래쪽 -->
<!-- <img src="{%static 'images/rudolph.gif' %}" class="width:100%"> -->





<script>
  var app = (function(){
    let pages = [];
    let links = [];
    
    document.addEventListener("DOMContentLoaded", function(){
        pages = document.querySelectorAll('[data-page]');
        links = document.querySelectorAll('[data-role="link"]');
        //pages[0].className = "active";  - already done in the HTML
        [].forEach.call(links, function(link){
            link.addEventListener("click", navigate)
        });
    });
    
    function navigate(ev){
        ev.preventDefault();
        let id = ev.currentTarget.href.split("#")[1];
        [].forEach.call(pages, function(page){
           if(page.id ===id){
               page.classList.add('active');
           }else{
               page.classList.remove('active');
           } 
        });
        return false;
    }
    
    return {
        pages,
        links,
        xhr: ajax
    }
})();
  </script>

{% endblock %}