{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}



{% block content %} 
<link rel="stylesheet" href="{% static 'style_card.css' %}" />


<section data-page="home" id="home" class="active">
  <h1 class="text-center "> 산타를 눌러주세요 </h1>
  <a href="#other" data-role="link">
  <div class="container">
      <div class="santa">
        <div class="hand-l"></div>
        <div class="hand-r"></div>
        <div class="hat"></div>
        <div class="face">
          <div class="beard"></div>
          <div class="eyes"></div>
        </div>
        <div class="belt"></div>
        <div class="shoe"></div>
      </div>
      <div class="santabag">
        <img src="{%static 'images/santabag.png' %}" height="300px" alt="...">
      </div>
  </div>
  </a>
</section>

<section data-page="other" id="other">
  <div>
  <p><a href="#home" data-role="link">산타보기</a></p>
  <a href="{% url 'cards:groupcard_update' cards.pk %}" class="text-decoration-none"> 벽난로 바꾸기 </a>
  <a href="{% url 'cards:groupcard_delete' cards.pk %}" class="text-decoration-none"> 벽난로 부수기 </a>
  <a href="{% url 'cards:gcomment_create' cards.pk %}" class="text-decoration-none"> 메시지 남기기 </a>
</div>

<div>
  
  <h1> 성별 : {{ cards.user.gender }} </h1>
  <h1> 이름 : {{ cards.user.nickname }} </h1>
  <img src="{{ cards.user.profileimage }}" class="rounded-circle">
  <h1> 제목 : {{ cards.title }} </h1>
  <h1> 내용 : {{ cards.content }} </h1>
  <h1> 양말id : {{ cards.socks }} </h1>
  <h1> 벽난로id :{{ cards.chimneys }} </h1>
</div>


<img src="{%static 'images/산타가방.jpg' %}">

<div class>
  {% if cards.socks == 1 %}
    <img src="{%static 'images/양말1.png' %}">
  {% elif cards.socks == 2 %}
    <img src="{%static 'images/양말2.png' %}">
  {% elif cards.socks == 3 %}
    <img src="{%static 'images/양말3.png' %}">
  {% endif %}

  {% if cards.chimneys == 1 %}
  <img src="{%static 'images/벽난로1.jpg' %}">
  {% elif cards.chimneys == 2 %}
  <img src="{%static 'images/벽난로2.jpg' %}">
  {% elif cards.chimneys == 3 %}
  <img src="{%static 'images/벽난로3.jpg' %}">
  {% endif %}
</div>


{% for comment in comments %}
  {% if comment.ribbons == 1 %}
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#{{comment.id_text}}">
      <img src="{%static 'images/리본1.png' %}">
    </button>

    <div class="modal fade" id="{{comment.id_text}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            {{ comment.content }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>


  {% elif comment.ribbons == 2%}
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#{{comment.id_text}}">
      <img src="{%static 'images/리본2.png' %}">
    </button>

  {% endif %}
  <h2> {{ comment.content }} | {{ comment.created_at }} | {{comment.ribbons}} </h2>

  <div class="modal fade" id="{{comment.id_text}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {{ comment.content }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</section>



<img src="{%static 'images/rudolph.gif' %}" class="width:100%">






<script>
  var app = (function(){
    let pages = [];
    let links = [];
    
    document.addEventListener("DOMContentLoaded", function(){
        pages = document.querySelectorAll('[data-page]');
        links = document.querySelectorAll('[data-role="link"]');
        //pages[0].className = "active";  - already done in the HTML
        [].forEach.call(links, function(link){
            link.addEventListener("click", navigate)
        });
    });
    
    function navigate(ev){
        ev.preventDefault();
        let id = ev.currentTarget.href.split("#")[1];
        [].forEach.call(pages, function(page){
           if(page.id ===id){
               page.classList.add('active');
           }else{
               page.classList.remove('active');
           } 
        });
        return false;
    }
    
    return {
        pages,
        links,
        xhr: ajax
    }
})();

  </script>

{% endblock %}