{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %} 

<style>
  :root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }

  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card2 {
    position: relative;
    display: block;
    width: 20rem;
    height: auto;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card2:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 0.7em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card2:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #6A515E;  
  }
  
  .card__status {
    font-size: .8em;
    color: #6A515E;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #6A515E;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    
</style>
<div style='height:25rem;overflow: hidden;'>
  <img src="{% static 'images/벽난로배너2.png' %}" style='width:100%;' alt="">
</div>


<div class='my-5'>
<h2> 그룹 트리 </h2>
<a href="{% url 'cards:create_group' %}" class="btn btn-warning"> 그룹 벽난로 만들기</a>

{% if groupcards %}
  <div class="row">
    {% for card in groupcards %}
    <div class="card" style="width: 18rem;">
      {% if card.chimneys == 1%}
      <img src="{%static 'images/벽난로1.jpg' %}" class="card-img-top" alt="...">
      {% elif card.chimneys == 2%}
      <img src="{%static 'images/벽난로2.jpg' %}" class="card-img-top" alt="...">
      {% elif card.chimneys == 3%}
      <img src="{%static 'images/벽난로3.jpg' %}" class="card-img-top" alt="...">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ card.title }}</h5>
        <p class="card-text">{{card.content}}</p>
        <a href="{% url 'cards:group_detail' card.pk %}" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    {% endfor%}
    <br>
  </div>
{% else %}
<p class='text-center my-5'> 단체용 벽난로를 생성해주세요! </p>

{% endif %}

<script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
<script>
  new Snowflakes();
</script>


{% endblock %}