{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %} 

<a href="{% url 'cards:usercard_update' request.user.pk %}" class="text-decoration-none"> 벽난로 바꾸기 </a>
<a href="{% url 'cards:usercard_delete'%}" class="text-decoration-none"> 벽난로 없애기 </a>
<a href="{% url 'cards:usercard_comment' cards.pk %}" class="text-decoration-none"> 댓글 남기기 </a>

<p class=' my-5 fs-1 ms-5'>벽난로 개인 프로필</p>
<div class='row'>
  <div class='col-3 ms-5'>
    <img src="{{ cards.user.profileimage }}" class="rounded-2" style='width:10rem;'>
  </div>
  <div class='col-2'>
    <p> 이름 : {{ cards.user.nickname }} </p>
    <p> 성별 : {{ cards.user.gender }} </p>
    <p> 나이 : {{ cards.user.age_range }}</p>
  </div>

</div>

<p class=' my-5 fs-1 ms-5'>벽난로 내용</p>
<div class='ms-5'>
  <p> 제목 : {{ cards.title }} </p>
  <p> 내용 : {{ cards.content }} </p>
  <img src="{%static 'images/산타가방.jpg' %}">
  
  <div class>
    {% if cards.chimneys %}
      {% if cards.socks %}
      <div style='position:relative'>
        <img src="/static/images/벽난로{{ cards.chimneys }}.jpg">
        <div style='position: absolute; top:2rem; left:2rem;'>
          <img src='/static/images/양말{{ cards.socks }}.png' style='width:4rem;'>
        </div>
      </div>
      {% else %}
      <div>
        <img src="/static/images/벽난로{{ cards.chimneys }}.jpg">
      </div>
      {% endif %}
    {% endif %}
  
  </div>
</div>

{% for comment in comments %}
  {% if comment.ribbons == 1 %}
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#{{comment.id_text}}">
      <img src="{%static 'images/리본1.png' %}">
    </button>

    <div class="modal fade" id="{{comment.id_text}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            {{ comment.content }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>


  {% elif comment.ribbons == 2%}
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#{{comment.id_text}}">
      <img src="{%static 'images/리본2.png' %}">
    </button>

  {% endif %}
  <h2> {{ comment.content }} | {{ comment.created_at }} | {{comment.ribbons}} </h2>

  <div class="modal fade" id="{{comment.id_text}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {{ comment.content }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock %}