{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %} 

<a href="{% url 'cards:usercard_update' request.user.pk %}" class="text-decoration-none"> 벽난로 바꾸기 </a>
<a href="{% url 'cards:usercard_delete'%}" class="text-decoration-none"> 벽난로 없애기 </a>
<a href="{% url 'cards:usercard_comment' cards.pk %}" class="text-decoration-none"> 댓글 남기기 </a>

<div class="d-flex justify-content-center">
  <div>
    
    <p class=' my-5 fs-1 text-center'>{{ cards.user.nickname }} <span class='small fw-lighter'>님의 벽난로</span></p>
    <div class=''>
      <!-- 벽난로 주인의 장식 모달 창 -->
      <div class="modal fade" id="owner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class='d-flex justify-content-center'>
                <img src='/static/images/양말{{ cards.socks }}.png' style='width:4rem;'>
              </div>
              <div class='mb-2 rounded-2 p-1'>
                <p class='text-center fs-5 my-5'>{{ cards.title }} </p>
                <p class='my-1 text-center'>{{ cards.content }} </p>
              </div>
              <div class='d-grid mt-5'>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">닫기</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class>
        {% if cards.chimneys %}
          {% if cards.socks %}
          <div style='position:relative'>
            <img src="/static/images/벽난로{{ cards.chimneys }}.jpg">
            <a data-bs-toggle="modal" data-bs-target="#owner" style='cursor:pointer'>
              <div style='position: absolute; top:2rem; left:2rem;'>
                <img src='/static/images/양말{{ cards.socks }}.png' style='width:4rem;'>
              </div>
            </a>
          </div>
          {% else %}
          <div>
            <img src="/static/images/벽난로{{ cards.chimneys }}.jpg">
          </div>
          {% endif %}
        {% endif %}
      
      </div>
    </div>
  </div>
</div>
{% for comment in comments %}
  {% if comment.ribbons == 1 %}
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#{{comment.id_text}}">
      <img src="{%static 'images/리본1.png' %}">
    </button>

    <div class="modal fade" id="{{comment.id_text}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            {{ comment.content }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>


  {% elif comment.ribbons == 2%}
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#{{comment.id_text}}">
      <img src="{%static 'images/리본2.png' %}">
    </button>

  {% endif %}
  <h2> {{ comment.content }} | {{ comment.created_at }} | {{comment.ribbons}} </h2>

  <div class="modal fade" id="{{comment.id_text}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {{ comment.content }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock %}