{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

<div class="container" style="height: 500px;">

    {% comment %} {% for block_user in block_users %}
    <div class="card m-4 p-2">
        <div class="d-flex justify-content-center">


          {% if block_user.profile.image %}
            <img src="{{block_user.profile.image.url}}" class="rounded-circle" alt="" style="height: 100px; width:100px;"> {% else %}
            <img src="../../../static/images/hmm.png" class="rounded-circle" alt="" style="height: 100px; width:100px;"> {% endif %}


            <p class="align-self-center pt-3 ms-4"><a class="navbar-brand ms-4" href="{% url 'accounts:profile' block_user.username %} ">{{ block_user.username }}</a></p> 
            <a class="ms-5 align-self-center text-decoration-none text-black fw-bold" href="{% url 'accounts:block_users' user.pk %}">차단 취소</a>
        </div>
    </div>
    {% endcomment %}
    <div>
      안녕
    </div>
    <div class="card">
      <div>
        {% for block_user in block_users %}
        {% if request.user in block_user.blockers.all %}
        {{ block_user.nickname }}
          <div class="row">
            {% csrf_token %}
            <div class="col text-center">
                <button class="custom-link text-decoration-none text-dark fs-3 custom-form" data-user-id="{{block_user.pk}}" value="{{block_user.pk}}" onclick="block(event)">
                  취소<span class="fs-4">⭕</span>
                </button>
            </div>
            {% else %}
            <div class="col text-center">
              <button class="custom-link text-decoration-none text-dark fs-3 custom-form" data-user-id="{{block_user.pk}}" value="{{block_user.pk}}" onclick="block(event)">
                차단<span class="fs-4">❌</span>
              </button>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
          <script>
            function block(event) {
              const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
                axios({
                  method: 'post',
                  url: `/accounts/${event.target.dataset.userId}/block/`,
                  headers: {'X-CSRFToken': csrftoken},
                  data: {'note_pk': event.target.dataset.userId},
                })
                .then(response => {
                  if (response.data.isFollow === true) {
                    const e = event.target
                    const span = document.createElement('span')
                    e.innerText = '취소'
                    span.innerText = '⭕'
                    span.className = 'fs-4'
                    e.appendChild(span)
                  }
                  else {
                    const e = event.target
                    const span = document.createElement('span')
                    e.innerText = '차단'
                    span.innerText = '❌'
                    span.className = 'fs-4'
                    e.appendChild(span)
                  }
                })
              }
          </script>

{% endblock content %}