{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

{% comment %} 기존 로그인폼(예비용) {% endcomment %}

 <div class='d-flex justify-content-center'>
  <div style='width:30rem' class='my-5'>
    <h1 class='text-center my-5'>로그인 페이지</h1>
      <form action="{% url 'accounts:login' %}" method='POST'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-grid">
          <input type="submit" value="로그인" class="btn btn-primary">

        </div>
    </form>
  </div>
</div> 

<div class='d-flex justify-content-center'>
  <div style='width:30rem' class='my-5'>
    <h1 class='text-center my-5'>로그인</h1>
        <div class="d-grid">
          <a href="{% url 'accounts:kakao' %}">
            <img src="{% static 'images/kakao_login.jpg' %}" alt="카카오 간편로그인" style='width:30rem' class='rounded-4'>
          </a>
        </div>
  </div>
</div>
{% endblock %}