{% extends 'base.html' %}
{% load static %}

{% block content %}

이메일{{user.email}}
<br>
연령대{{user.age_range}}
<br>
성별{{user.gender}}
<br>
닉네임{{user.nickname}}
<br>

{% comment %} 프로필 이미지 if 처리 {% endcomment %}
{% if user.profileimage.url != None %}
    프로필 이미지<img src="{{user.profileimage.url}}">
{% elif user.profileimage != None %}
    프로필 이미지<img src="{{user.profileimage}}">
{% else %}
    이미지 없음
{% endif %}


<a href="{% url 'cards:indiv_detail' user.pk %}" class='btn btn-outline-dark'> 벽난로 가기 </a>

{% endblock content %}
