{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,500,600,700&amp;display=swap">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <style>
    :root {
      --surface-color: #fff;
      --curve: 40;
    }

    * {
      box-sizing: border-box;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      margin: 4rem 5vw;
      padding: 0;
      list-style-type: none;
    }

    .card2 {
      position: relative;
      display: block;
      width: 20rem;
      height: auto;
      border-radius: calc(var(--curve) * 1px);
      overflow: hidden;
      text-decoration: none;
    }

    .card__image {
      width: 100%;
      height: 15rem;
    }

    .card__overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      border-radius: calc(var(--curve) * 1px);
      background-color: var(--surface-color);
      transform: translateY(100%);
      transition: 0.2s ease-in-out;
    }

    .card2:hover .card__overlay {
      transform: translateY(0);
    }

    .card__header {
      position: relative;
      display: flex;
      align-items: center;
      gap: 2em;
      padding: 0.7em;
      border-radius: calc(var(--curve) * 1px) 0 0 0;
      background-color: var(--surface-color);
      transform: translateY(-100%);
      transition: 0.2s ease-in-out;
    }

    .card__arc {
      width: 80px;
      height: 80px;
      position: absolute;
      bottom: 100%;
      right: 0;
      z-index: 1;
    }

    .card__arc path {
      fill: var(--surface-color);
      d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
    }

    .card2:hover .card__header {
      transform: translateY(0);
    }

    .card__thumb {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .card__title {
      font-size: 1em;
      margin: 0 0 0.3em;
      color: #6A515E;
    }

    .card__tagline {
      display: block;
      margin: 1em 0;
      font-family: "MockFlowFont";
      font-size: 0.8em;
      color: #6A515E;
    }

    .card__status {
      font-size: 0.8em;
      color: #6A515E;
    }

    .card__description {
      padding: 0 2em 2em;
      margin: 0;
      color: #6A515E;
      font-family: "MockFlowFont";
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }

    body {
      background-image: url("{% static 'images/프로필배경.png' %}");
      background-repeat: repeat;
      background-size: cover;

      {
        % comment %
      }

      color: white;

      {
        % endcomment %
      }
    }
  #profileimage {
    box-shadow: 0 8px 5px rgba(0,0,0,0.5);
  }
  </style>
  <div class="row row-cols-6 justify-content-evenly">
    <!-- 벽난로 주인 프로필 -->
    <div class='col col-lg-3 ms-2 my-5 text-center'>
      <p class=' my-5 fs-1 text-center'>개인 프로필</p>
      <div class='row'>
        <div class='col-6 d-flex justify-content-end'>
          <div>
            {% if user.profileimage %}
              <img id="profileimage" src="{{ user.profileimage }}" class="rounded-pill" style='width:10rem;'>
            {% else %}
              <img src="{% static 'images/게스트.png' %}" class="rounded-2" style='width:10rem;'>
            {% endif %}
          </div>
        </div>
        <div class='col-6 d-flex justify-content-center'>
          <div>
            <p>
              이름 :
              {{ user.nickname }}
            </p>
            <p>
              성별 :
              {{ user.gender }}
            </p>
            <p>
              나이 :
              {{ user.age_range }}</p>
              <div class="">
              {% if request.user == user %}
              <a href="{% url 'accounts:mypage' %}" class='btn btn-outline-primary'>마이페이지</a>
              {% else %}
              </div>
                {% csrf_token %}
                {% if request.user not in user.followers.all %}
                <button class="favorite-button" data-user-id="{{user.pk}}" value="{{user.pk}}" onclick="follow(event)">
                  <div class="icon">
                    <div class="star"></div>
                  </div>
                  <span id="span">Follow</span>
                </button>
                {% else %}
                <button class="favorite-button active" data-user-id="{{user.pk}}" value="{{user.pk}}" onclick="follow(event)">
                  <div class="icon">
                    <div class="star"></div>
                  </div>
                  <span id="span">UnFollow</span>
                </button>
                {% endif %}

                <div id="follow-cnt">
              
              {% endif %}
                  <h5 id='followers-cnt' class="my-3">Followers : {{ user.followers.count }}</h3>
                  <h5 id='followings-cnt' class="my-3">Followings : {{ user.followings.count }}</h3>
                </div>
              </div>
        </div>
      </div>
    </div>
    <!-- 벽난로 -->
    <div class='col ms-2 my-5'>
      <div class='mb-5 d-flex justify-content-center'>
        <div>
          <h1 class='my-5 text-center'>
            개인 벽난로
          </h1>
          {% if user.usercard %}
          <div class="p-5 my-5 pt-0">
            <a href="{% url 'cards:usercard_detail' user.usercard.pk %}" class="card2">
              {% if user.usercard.chimneys == 9 %}
              <img src="/static/images/벽난로{{ user.usercard.chimneys }}.png" class="card__image" alt=""/>
              {% else %}
              <img src="/static/images/벽난로{{ user.usercard.chimneys }}.jpg" class="card__image" alt=""/>
              {% endif %}
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                    <path/></svg>
                  {% if user.profileimage %}
                    <img class="card__thumb" src="{{ user.profileimage }}"/>
                  {% else %}
                    <img class="card__thumb" src="{% static 'images/게스트.png' %}"/>
                </div>
              </div>
            </a>
                  {% endif %}
                  <div class="card__header-text">
                    <h3 class="card__title">{{ user.nickname }}</h3>
                    <span class="card__status">{{ user.usercard.title }}</span>
                  </div>
                  <p class="card__description">{{ user.usercard.content }}</p>
          </div>
          {% else %}
           {% if user == request.user %}
            <div class="p-5 my-5">
              <a href="{% url 'cards:usercard_create' %}" class="btn btn-primary">
                개인 벽난로를 생성해주세요!
              </a>
            </div>
            {% else %}
            <div class="p-5 my-5">
              <h5>아직 벽난로가 없어요 😂</h5>
            </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
  <script>
    new Snowflakes();
  </script>
  <!-- follow -->
  <script>
    function follow(e) {
      const button = e.target
            if(button.classList.contains('animated')) {
                return
            }
            button.classList.add('animated')

            gsap.to(button, {
                keyframes: [{
                    '--star-y': '-36px',
                    duration: .3,
                    ease: 'power2.out'
                }, {
                    '--star-y': '48px',
                    '--star-scale': .4,
                    duration: .325,
                    onStart() {
                        button.classList.add('star-round')
                    }
                }, {
                    '--star-y': '-64px',
                    '--star-scale': 1,
                    duration: .45,
                    ease: 'power2.out',
                    onStart() {
                        button.classList.toggle('active')
                        setTimeout(() => button.classList.remove('star-round'), 100)
                    }
                }, {
                    '--star-y': '0px',
                    duration: .45,
                    ease: 'power2.in'
                }, {
                    '--button-y': '3px',
                    duration: .11
                }, {
                    '--button-y': '0px',
                    '--star-face-scale': .65,
                    duration: .125
                }, {
                    '--star-face-scale': 1,
                    duration: .15
                }],
                clearProps: true,
                onComplete() {
                    button.classList.remove('animated')
                }
            })

            gsap.to(button, {
                keyframes: [{
                    '--star-hole-scale': .8,
                    duration: .5,
                    ease: 'elastic.out(1, .75)'
                }, {
                    '--star-hole-scale': 0,
                    duration: .2,
                    delay: .2
                }]
            })

            gsap.to(button, {
                '--star-rotate': '360deg',
                duration: 1.55,
                clearProps: true
            })
          const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
          axios({
            method: 'post',
            url: `/accounts/${e.target.dataset.userId}/follow/`,
            headers: {'X-CSRFToken': csrftoken},
            data: {'note_pk': event.target.dataset.userId},
          })
          .then(response => {
            console.log(response.data.followersCount)
            console.log(response.data.followingsCount)
            if (response.data.isFollow === true) {
              const span = document.querySelector('#span')
              span.innerText = 'UnFollow'
            }
            else {
              const span = document.querySelector('#span')
              span.innerText = 'Follow'
            }
            const followingsCnt = document.querySelector('#followings-cnt')
            const followersCnt = document.querySelector('#followers-cnt')
            followingsCnt.innerText = `Followings : ${response.data.followingsCount}`
            followersCnt.innerText = `Followers : ${response.data.followersCount}`
          })
        }
  </script>


    <script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
    <script>
      new Snowflakes();
    </script>

  {% endblock content %}
