{% load static %}
<style>
.dropdown-item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 160px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #ccc;
}
.dropdown-item:before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #ff005e;
  color: #fff;
  transition: 0.5s;
  transform-origin: bottom;
  transform: translatey(-100%) rotatex(90deg);
}
.dropdown-item:hover:before
{
  transform: translatey(0) rotatex(0deg);
}

.dropdown-item:after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #ea004f;
  color: #fff;
  transition: 0.5s;
  transform-origin: top;
  transform: translatey(0) rotatex(0deg);
}
.dropdown-item:hover:after
{
  transform: translatey(100%) rotatex(90deg);
}
</style>

<a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Neon button
</a>
<a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Neon button
</a>
<a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Neon button
</a>
<a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Neon button
</a>
<a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Neon button
</a>
<a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Neon button
</a>