{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class='d-flex justify-content-center wrapper'>
  <div style='width:30rem' class='my-5'>
    <h1 class='text-center my-5'>업데이트 페이지</h1>
      <form action="{% url 'accounts:update' %}" method='POST', enctype='multipart/form-data'>
        {% csrf_token %}

        {{ form.nickname }}
        {{ form.email }}

        {% comment %} 유저 나이 if 처리 {% endcomment %}
        {% if request.user.age_range == Null%}
            <p>
                나이 : 
                <span id="value2"></span>
            </p>
            {{ form.age_range }}
        {% endif %}

        {% comment %} 유저 성별 if 처리 {% endcomment %}
        {% if request.user.gender == Null %}
          {{ form.gender }}
        {% endif %}

        {{ form.introduce }}
        <div class="d-grid">
          <input type="submit" value="업데이트" class="btn btn-primary">
          <a href="{% url 'accounts:delete' %}" class="btn btn-danger mt-2">계정삭제</a>
        </div>
    </form>
  </div>
</div>  

<style>
  .wrapper {

    min-height: 89.9vh;
    background-image: url("/static/images/개인카드배경3.png");
    background-size: cover;
    background-repeat : repeat;
    
</style>

<script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
<script>
  new Snowflakes();
</script>
{% endblock %}