{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

<style>
    
    body {
      background-image : url('{% static 'images/쪽지배경.png' %}');
      background-repeat : repeat;
      background-size : cover;
      {% comment %} color:white; {% endcomment %}
    }

    #modal.modal-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        z-index: 100;
    }
    #modal .modal-window {
        background: rgba(21, 22, 22, 0.7);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 13.5px );
        -webkit-backdrop-filter: blur( 13.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 200px;
        height: 250px;
        position: relative;
        top: -100px;
        padding: 10px;
    }
    #modal .title {
        padding-left: 10px;
        display: inline;
        text-shadow: 1px 1px 2px gray;
        color: white;
        
    }
    #modal .title h2 {
        display: inline;
    }
    #modal .close-area {
        display: inline;
        float: right;
        padding-right: 10px;
        cursor: pointer;
        text-shadow: 1px 1px 2px gray;
        color: white;
    }
    
    #modal .content {
        margin-top: 20px;
        padding: 0px 10px;
        text-shadow: 1px 1px 2px gray;
        color: white;
    }

    #container {
      position: relative;
      margin-top: 100px;
    }

    #profileimage {
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 5px 7px rgba(0,0,0,0.5);
      position: absolute;
      top: 10%;
      z-index: 1;
    }

    #cust-card {
      box-shadow: 0 10px 5px rgba(0,0,0,0.5);
    }
    p {
      white-space: pre-line;
    }
    hr {
      height: 2px;
    }

</style>
<script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
<script>
  new Snowflakes();
</script>

</head>
<body>


<div id="container" class="container mt-4" style="max-width:550px;">
  <div class="d-flex justify-content-center mb-2" id="profile">
    <img id="profileimage" src="{{note.from_user.profileimage}}" alt="프로필 이미지" style="width: 120px; height:120px;" class="rounded-circle">
  </div>
    <div id="container" class="container p-0">
      <div class="card" style="border-radius: 18px;"  id="cust-card">
        <div style="height: 70px;">
        </div>
        <hr>
        <div class="container ms-3">
          <div class="fs-4 fw-bold">{{ note.title }}</div>
          <div class="fs-5">
            <p>{{ note.content }}</p>
          </div>
        </div>
        <div class="d-flex justify-content-end mx-3">
          
          <a class="custom-link fs-4" id="btn-modal">
            <span class="fs-6">from. </span>
            {% if note.from_user.nickname %}
            {{ note.from_user.nickname }}
            {% else %}
            {{ note.from_user.username }}
            {% endif %}
          </a>
        </div>
        <div class="d-flex justify-content-end">
          <small class="mx-3 mb-2">
            {{ note.created_at|date:'o.m.d' }} {{ note.created_at|time:"H:i" }}
          </small>
        </div>
        <div id="modal" class="modal-overlay">
            <div class="modal-window">
                <div class="title">
                    <h2>
                      {% if note.from_user.nickname %}
                      {{ note.from_user.nickname }}
                      {% else %}
                      {{ note.from_user.username }}
                      {% endif %}
                    </h2>
                </div>
                <div class="close-area">X</div>
                <div class="content">
                    <h3><a href="{% url 'accounts:profile' request.user.pk %}" class="text-decoration-none text-white">프로필</a></h3>
                    <h3><a href="{% url 'notes:send' note.from_user.pk %}" class="text-decoration-none text-white">쪽지</a></h3>
                    <h3><a href="{% url 'accounts:follow' request.user.pk %}" class="text-decoration-none text-white">팔로우</a></h3>
                    <h3><a href="{% url 'accounts:block' request.user.pk %}" class="text-decoration-none text-white">차단</a></h3>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<script>
const loremIpsum = document.getElementById("lorem-ipsum")
fetch("https://baconipsum.com/api/?type=all-meat&paras=200&format=html")
    .then(response => response.text())
    .then(result => loremIpsum.innerHTML = result)
const modal = document.getElementById("modal")
function modalOn() {
    modal.style.display = "flex"
}
function isModalOn() {
    return modal.style.display === "flex"
}
function modalOff() {
    modal.style.display = "none"
}
const btnModal = document.getElementById("btn-modal")
btnModal.addEventListener("click", e => {
    modalOn()
})
const closeBtn = modal.querySelector(".close-area")
closeBtn.addEventListener("click", e => {
    modalOff()
})
modal.addEventListener("click", e => {
    const evTarget = e.target
    if(evTarget.classList.contains("modal-overlay")) {
        modalOff()
    }
})
window.addEventListener("keyup", e => {
    if(isModalOn() && e.key === "Escape") {
        modalOff()
    }
})
</script>
{% endblock %}