{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}


<img src="" alt="">
<div class="container fs-5 mt-4">
  <div id="main_in" class="d-flex justify-content-center">
    <table class="list-table">
      <thead>
        <th class="fs-2 fw-bold">받은 편지함</th>
        <tr>
        <tr>
          <th width="150" class="tl">보낸사람</th>
          <th width="400" class="tl">제목</th>
          <th width="200" class="tc">날짜</th>
          <th width="100" class="tc">읽음</th>
          <th width="100" class="tc">삭제</th>
        </tr>
      </thead>
          <tbody>
          {% for note in notes %}
          <div id="{{note.pk}}">
            {% if note.read == 1 %}
              <tr class="text-muted">
                <td>
                  {% if note.from_user.nickname %}
                  {{ note.from_user.nickname }}
                  {% else %}
                  {{ note.from_user.username }}
                  {% endif %}
                </td> <!---보낸이 -->
                <td><a class="text-muted" style="text-decoration:none;" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a></td> <!---제목 -->
                <td class="tc">{{ note.created_at|date:'o.m.d' }} {{ note.created_at|time:"H:i" }}</td> <!---보낸시간 -->
                {% if note.read == 1 %}
                <td>읽음</td> <!---읽음 -->
                {% else %}
                <td>안읽음</td> <!---읽음 -->
                {% endif %}
                <td class="tc">
                  <button id="custom-btn" value="{{note.pk}}" onclick="remove(event)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                  </button>
                </td> <!---삭제 -->
              </tr>
            {% else %}
            <tr>
              <td>
                {% if note.from_user.nickname %}
                {{note.from_user.nickname}}
                {% else %}
                {{note.from_user.username}}
                {% endif %}
              </td> <!---보낸이 -->
              <td><a class="custom-link" style="text-decoration:none; color:black;" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a></td> <!---제목 -->
              <td class="tc">{{ note.created_at|date:'o.m.d' }} {{ note.created_at|time:"H:i" }}</td> <!---보낸시간 -->
              {% if note.read == 1 %}
              <td>읽음</td> <!---읽음 -->
              {% else %}
              <td>안읽음</td> <!---읽음 -->
              {% endif %}
              <td class="tc">
                  {% csrf_token %}
                  <button id="custom-btn">
                    <i xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" data-note-id="{{note.pk}}" value="{{note.pk}}" onclick="remove(event)"></i>
                  </button>
              </td> <!---삭제 -->
            </tr>
            {% endif %}
          </div>
          {% endfor %}
          </tbody>
    </table>
  </div>
</div>

<hr/>
<div class="container fs-5 mt-4">
  
  <div id="main_in" class="d-flex justify-content-center">
    <table class="list-table">
      <thead>
        <th class="fs-2 fw-bold">보낸 편지함</th>
        <th><span class="fs-6 text-muted p-2">상대방이 읽으면 읽음처리 됩니다.</span></th>
        <tr>
          <th width="150" class="tl">받는사람</th>
          <th width="400" class="tl">제목</th>
          <th width="200" class="tc">날짜</th>
          <th width="100" class="tc">읽음</th>
          <th width="100" class="tc"></th>
        </tr>
      </thead>
          <tbody>
          {% for note in to_notes %}
          <div id="{{note.pk}}">
            {% if note.read == 1 %}
              <tr class="text-muted">
                <td>
                  {% if note.to_user.nickname %}
                  {{note.to_user.nickname}}
                  {% else %}
                  {{note.to_user.username}}
                  {% endif %}
                </td> <!---보낸이 -->
                <td><a class="text-muted" style="text-decoration:none;" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a></td> <!---제목 -->
                <td class="tc">{{ note.created_at|date:'o.m.d' }} {{ note.created_at|time:"H:i" }}</td> <!---보낸시간 -->
                {% if note.read == 1 %}
                <td>읽음</td> <!---읽음 -->
                {% else %}
                <td>안읽음</td> <!---읽음 -->
                {% endif %}
                <td class="tc">
                </td> <!---삭제 -->
              </tr>
            {% else %}
            <tr>
              <td>
                {% if note.to_user.nickname %}
                {{note.to_user.nickname}}
                {% else %}
                {{note.to_user.username}}
                {% endif %}
              </td> <!---내가 보낸 -->
              <td><a class="custom-link" style="text-decoration:none; color:black;" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a></td> <!---제목 -->
              <td class="tc">{{ note.created_at|date:'o.m.d' }} {{ note.created_at|time:"H:i" }}</td> <!---보낸시간 -->
              {% if note.read == 1 %}
              <td>읽음</td> <!---읽음 -->
              {% else %}
              <td>안읽음</td> <!---읽음 -->
              {% endif %}
              <td class="tc">
              </td> <!---삭제 -->
            </tr>
            {% endif %}
          </div>
          {% endfor %}
          </tbody>
    </table>
  </div>
</div>
<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  function remove(event) {
  console.log(event.target.dataset.noteId)
  var delete_warning = confirm('쪽지를 삭제하시겠습니까?')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  if (delete_warning == true) {
    axios({
      method: 'post',
      url: `/notes/${event.target.dataset.noteId}/delete/`,
      headers: {'X-CSRFToken': csrftoken},
      data: {'note_pk': event.target.dataset.noteId},
    })
    .then(response => {
      const resdata = response.data.pk
      const div = document.getElementById(resdata)
      console.log(div)
      div.remove()
    })
  }
}
</script>


<style>
  body {
    background-image : url('{% static 'images/그룹카드배경3.jpg' %}');
    background-repeat : repeat;
    background-size : cover;
    {% comment %} color:white; {% endcomment %}
   }
   
  #main_head {
    width: 100%;
    background:#003f51;	
  }
  #main_head_in {
    width: 1200px;
    height: 50px;
  }
  #main_t {
    position: absolute;
    top:5px; 
  }
  #mem_log {
    font-size: 14px;
    color:white;
    padding-top:10px;
    text-align: right;
  }
  #mem_log a{
    color:white;
  }
  #mlog {
    margin-left: 40px; 
  }
</style>

{% endblock %}