@font-face {
  font-family: "JUA";
  src: url("BMJUA_ttf-_1_.woff") format("woff");
  font-weight: normal;
}

* {
  font-family: 'JUA';
}

.bg{
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.entry {
  width: 100%;
  height: 400px;
  /* background-image: url("https://png.pngtree.com/background/20210715/original/pngtree-creative-christmas-gift-box-decoration-green-texture-background-picture-image_1282191.jpg"); */ */
}

.entry2 {
  width: 100%;
  height: 200px;
}

.main_image_text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate( -50%, -50% );
  color: white;
}

body {
  background: #000;
  color: #fff;
}
a {
  color: #fff;

.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sock1 {
  background-image: url("images/양말1.png");
}

.sock2 {
  background-image: url("images/양말2.png");
}

.sock3 {
  background-image: url("images/양말3.png");
}

.chim1 {
  background-image: url("images/벽난로1.jpg");
}

.chim2 {
  background-image: url("images/벽난로2.jpg");
}

.chim3 {
  background-image: url("images/벽난로3.jpg");
}

.ribbon1 {
  background-image: url("images/리본1.png");
}

.ribbon2 {
  background-image: url("images/리본2.png");
}

.cc-selector input:active+.drinkcard-cc {
  opacity: .5;
}

.cc-selector input:checked+.drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

