@font-face {
  font-family: "JUA";
  src: url("BMJUA_ttf-_1_.woff") format("woff");
  font-weight: normal;
}

* {
  font-family: 'JUA';
}

.bg {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.mettings_bg {

  height: 100vh;
  background: radial-gradient(ellipse, #6285d630 0%, #8ba2d1 100%);
}

.entry {
  width: 100%;
  height: 400px;
  /* background-image: url("https://png.pngtree.com/background/20210715/original/pngtree-creative-christmas-gift-box-decoration-green-texture-background-picture-image_1282191.jpg"); */
}

.entry2 {
  width: 100%;
  height: 200px;
}

.entry3 {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/images/글생성배경.jpg");
}

.main_image_text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

body {
  background: #000;
  color: #fff;
}

a {
  color: #fff;
}

/* 폼에서 양말, 벽난로 선택 시작 */
.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.userdeco1 {
  background-image: url("images/유저장식1.png");
}

.userdeco2 {
  background-image: url("images/유저장식2.png");
}

.userdeco3 {
  background-image: url("images/유저장식3.png");
}

.userdeco4 {
  background-image: url("images/유저장식4.png");
}

.userdeco5 {
  background-image: url("images/유저장식5.png");
}

.userdeco6 {
  background-image: url("images/유저장식6.png");
}

.userdeco7 {
  background-image: url("images/유저장식7.png");
}

.userdeco8 {
  background-image: url("images/유저장식8.png");
}

.chim1 {
  background-image: url("images/벽난로1.jpg");
}

.chim2 {
  background-image: url("images/벽난로2.jpg");
}

.chim3 {
  background-image: url("images/벽난로3.jpg");
}

.ribbon1 {
  background-image: url("images/리본1.png");
}

.ribbon2 {
  background-image: url("images/리본2.png");
}

.cc-selector input:active+.drinkcard-cc {
  opacity: .5;
}

.cc-selector input:checked+.drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 90px;
  height: 70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1) grayscale(1) opacity(.7);
}

.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* 폼에서 양말, 벽난로 선택 끝 */

/* meeting index */
.card-header {
  position: relative;
}

.JJim {
  z-index: 99;
  margin-top: 3px;
  margin-left: 5px;
  position: absolute;
}

#custom-form {
  color: #006f57;

}

.custom-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.custom-link:hover {
  color: #cc041e;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.custom-card {
  max-width: 350px;
  min-width: 350px;
  margin: 0px 5px;
  overflow: hidden;
}

.custom-card img {
  max-width: 350px;
  max-width: initial;
  margin-left: 0%;
}

.custom-card {
  max-height: 550px;
  min-height: 550px;
  overflow: hidden;
}

.custom-card img {
  min-height: 550px;
  max-height: initial;
  margin-top: 15%;
}

#custom-btn {
  color: #010200;
  background-color: #fff;
  border: none;
}

#custom-btn:hover {
  color: #cc041e;
  font-weight: bold;
}

/* meeting page */

.cus-container {
  position: relative;
}

.cus-container .cus-card {
  position: relative;
  width: 320px;
  height: 550px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  border-radius: 20px;
  overflow: hidden;
}

/* .container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d90429;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
} */

.cus-container .cus-card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

/* 글씨 */
.cus-container .cus-card:after {
  position: absolute;
  top: 30%;
  left: -20%;
  color: rgba(255, 255, 25, 0.05)
}

/*  */

.cus-container .cus-card .cus-imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  width: 100%;
  height: 430px;
  transition: 0.5s;
}

/* 이미지 이동 */
.cus-container .cus-card:hover .cus-imgBx {
  top: 5%;
  transform: translateY(0%);

}

/*  */
.cus-container .cus-card .cus-imgBx img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 290px;
  width: 320px;
}

.cus-container .cus-card .cus-contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.cus-container .cus-card .cus-contentBx2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  text-align: center;
  transition: 1s;
  z-index: 11;
}

/* 컨텐츠 높이 */
.cus-container .cus-card:hover .cus-contentBx {
  height: 280px;
}

.cus-container .cus-card:hover .cus-contentBx2 {
  height: 80px;
}

/*  */

.cus-container .cus-card .cus-contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.cus-container .cus-card .cus-contentBx2 a {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.cus-container .cus-card .cus-contentBx2 div {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.cus-container .cus-card .cus-contentBx .cus-size,
.cus-container .cus-card .cus-contentBx .cus-color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.cus-container .card:hover .cus-contentBx .cus-size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.cus-container .cus-card:hover .cus-contentBx .cus-color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.cus-container .cus-card .cus-contentBx .cus-size div,
.cus-container .cus-card .cus-contentBx .cus-color div {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.cus-container .cus-card .cus-contentBx .cus-size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}


.cus-container .cus-card .cus-contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.cus-container .cus-card:hover .cus-contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;

}


/*  */

.cus-note {
  border: 2px solid #000;
  border-radius: 16px;
}

.cus-note-in {
  margin: 2px 2px;
  border: 2px solid #000;
  border-radius: 16px;
}