/* 산타용 */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 350px;
  height: 500px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@-webkit-keyframes blink {
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }
}

@keyframes blink {
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }
}

.container {
  width: 380px;
  height: 500px;
  position: absolute;
  -webkit-transform: translateX(-50%) scale(0.85);
  -ms-transform: translateX(-50%) scale(0.85);
  transform: translateX(-50%) scale(0.85);
  top: -10px;
  left: 50%;
}

.container *:before,
.container *:after {
  position: absolute;
  content: "";
}

.santa {
  height: 220px;
  width: 200px;
  background-color: #e40513;
  border-radius: 80px;
  position: absolute;
  left: 115px;
  top: 200px;
}

.santa:before,
.santa:after {
  width: 40px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #f7d93f;
}

.santa:before {
  height: 130px;
}

.santa:after {
  height: 40px;
  background-color: #ffffff;
  bottom: -15px;
}

.face {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  height: 180px;
  width: 180px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fad2af;
  border: 25px solid #f2e6da;
  bottom: 140px;
}

.hand-l {
  background-color: #e40513;
  height: 90px;
  width: 105px;
  position: absolute;
  right: -30px;
  top: 20px;
  border-radius: 0 80px 0 0;
}

.hand-l:before {
  margin: auto;
  width: 35px;
  height: 15px;
  background-color: #EAEAEA;
  top: 85px;
  left: 71px;
}

.hand-l:after {
  height: 15px;
  width: 30px;
  background-color: #f2e6da;
  left: 74px;
  top: 101px;
  border-radius: 0 0 30px 30px;
}

.hand-r {
  height: 150px;
  width: 180px;
  border: 30px solid transparent;
  border-bottom: 40px solid #e40513;
  border-radius: 50%;
  position: absolute;
  bottom: 150px;
  left: -100px;
  -webkit-animation: wave 2s infinite;
  animation: wave 2s infinite;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}

@-webkit-keyframes wave {
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}

@keyframes wave {
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}

.hand-r:before {
  width: 35px;
  height: 15px;
  background-color: #EAEAEA;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
  top: 68px;
  left: -22px;
}

.hand-r:after {
  width: 30px;
  height: 15px;
  background-color: #fad2af;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
  left: -31px;
  top: 58px;
  border-radius: 15px 15px 0 0;
}

.beard {
  position: absolute;
  height: 90px;
  width: 180px;
  right: -25px;
  bottom: -25px;
  background-color: #ffffff;
  border-radius: 0 0 90px 90px;
}

.beard:before {
  height: 25px;
  width: 55px;
  background-color: #f2e6da;
  border-radius: 20px 0;
  left: 34px;
}

.beard:after {
  height: 25px;
  width: 55px;
  background-color: #f2e6da;
  border-radius: 0 20px;
  right: 34px;
}

.eyes {
  height: 12px;
  width: 12px;
  background-color: #0078ca;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 40px;
  -webkit-box-shadow: 38px 0 #0078ca, 19px 20px #f69697;
  box-shadow: 38px 0 #0078ca, 19px 20px #f69697;
}

.eyes:before {
  height: 12px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 10px 0;
  left: -10px;
  bottom: 20px;
}

.eyes:after {
  height: 12px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 0 10px;
  left: 32px;
  bottom: 20px;
}

.belt {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: #000000;
  top: 100px;
}

.belt:before {
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
  width: 40px;
  border: 7px solid #ffdc2e;
}

.belt:after {
  height: 5px;
  width: 15px;
  background-color: #ffdc2e;
  left: 100px;
  top: 12px;
}

.hat {
  position: absolute;
  height: 60px;
  width: 120px;
  background-color: #e40513;
  top: -99px;
  left: 85px;
  border-radius: 0 0 60px 60px;
}

.hat:before {
  height: 40px;
  width: 40px;
  background-color: #EAEAEA;
  left: 100px;
  top: -15px;
  border-radius: 50%;
}

.shoe {
  height: 20px;
  width: 20px;
  background-color: #000000;
  position: absolute;
  top: 220px;
  left: 60px;
  border-radius: 20px 0 0 0;
}

.shoe:before {
  height: 20px;
  width: 20px;
  background-color: #000000;
  top: 0px;
  left: 60px;
  border-radius: 0 20px 0 0;
}

.fab {
  color: #ff0000;
}

.santabag {
  z-index: -1;
  position: absolute;
  bottom: 3rem;
  right: -9rem;
}


/* 화면 전환용 */
body {
  font: 1rem/1.6 sans-serif;
  width: 100%;
  overflow: hidden;
  background-color: #e6e4df;
}

[data-page] {
  position: fixed;
  /* or absolute if the content exceeds the height of the page */
  width: 100%;
  min-height: 100vh;
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
  /*
  left: 100%;
  transition: left 1.0s ease-in; 
  */
  z-index: 10;
}

[data-page="home"] {
  background-color: hsl(90, 70%, 20%);
  color: hsl(90, 90%, 90%);
}

[data-page="other"] {
  background-color: hsl(0, 35%, 50%);
  color: hsl(270, 90%, 90%);
}

[data-page].active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  /**
  left: 0;
  **/
  z-index: 100;
}

[data-role="link"] {
  color: white;
}