@font-face {
  font-family: "JUA";
  src: url("BMJUA_ttf-_1_.woff") format("woff");
  font-weight: normal;
}

* {
  font-family: 'JUA';
}

.bg {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.mettings_bg {

  height: 100vh;
  background: radial-gradient(ellipse, #6285d630 0%, #8ba2d1 100%);
}

.entry {
  width: 100%;
  height: 400px;
  /* background-image: url("https://png.pngtree.com/background/20210715/original/pngtree-creative-christmas-gift-box-decoration-green-texture-background-picture-image_1282191.jpg"); */
}

.entry2 {
  width: 100%;
  height: 200px;
}

.entry3 {
  height: 100vh;
  width: 100vw;

  background-repeat : no-repeat;
  background-size : cover;
  background-image: url("/static/images/글생성배경.jpg");

}

.main_image_text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

body {
  background: #000;
  color: #fff;
}

a {
  color: #fff;
}




.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.visa {
  background-image: url(http://i.imgur.com/lXzJ1eB.png);
}

.mastercard {
  background-image: url(http://i.imgur.com/SJbRQF7.png);
}


/* 폼에서 양말, 벽난로 선택 시작 */
.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sock1 {
  background-image: url("images/양말1.png");
}

.sock2 {
  background-image: url("images/양말2.png");
}

.sock3 {
  background-image: url("images/양말3.png");
}

.sock4 {
  background-image: url("images/양말4.png");
}

.sock5 {
  background-image: url("images/양말5.png");
}

.sock6 {
  background-image: url("images/양말6.png");
}

.chim1 {
  background-image: url("images/벽난로1.jpg");
}

.chim2 {
  background-image: url("images/벽난로2.jpg");
}

.chim3 {
  background-image: url("images/벽난로3.jpg");
}

.ribbon1 {
  background-image: url("images/리본1.png");
}

.ribbon2 {
  background-image: url("images/리본2.png");
}

.cc-selector input:active+.drinkcard-cc {
  opacity: .5;
}

.cc-selector input:checked+.drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* 폼에서 양말, 벽난로 선택 끝 */

/* meeting index */
.card-header {
  position: relative;
}

.JJim {
  z-index: 99;
  margin-top: 3px;
  margin-left: 5px;
  position: absolute;
}

#custom-form {
  color: #006f57;

}

.custom-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.custom-link:hover {
  color: #cc041e;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.custom-card {
  max-width: 350px;
  min-width: 350px;
  margin: 0px 5px;
  overflow: hidden;
}

.custom-card img {
  max-width: 350px;
  max-width: initial;
  margin-left: 0%;
}

.custom-card {
  max-height: 550px;
  min-height: 550px;
  overflow: hidden;
}

.custom-card img {
  min-height: 550px;
  max-height: initial;
  margin-top: 15%;
}

#custom-btn {
  color: #010200;
  background-color: #fff;
  border: none;
}

#custom-btn:hover {
  color: #cc041e;
  font-weight: bold;
}

/* meeting page */

.cus-container {
  position: relative;
}

.cus-container .cus-card {
  position: relative;
  width: 320px;
  height: 550px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  border-radius: 20px;
  overflow: hidden;
}



/* .container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d90429;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
} */

.cus-container .cus-card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

/* 글씨 */
.cus-container .cus-card:after {
  position: absolute;
  top: 30%;
  left: -20%;
  color: rgba(255, 255, 25, 0.05)
}

/*  */

.cus-container .cus-card .cus-imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  width: 100%;
  height: 430px;
  transition: 0.5s;
}

/* 이미지 이동 */
.cus-container .cus-card:hover .cus-imgBx {
  top: 5%;
  transform: translateY(0%);

}

/*  */
.cus-container .cus-card .cus-imgBx img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 290px;
  width: 320px;
}

.cus-container .cus-card .cus-contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.cus-container .cus-card .cus-contentBx2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  text-align: center;
  transition: 1s;
  z-index: 11;
}

/* 컨텐츠 높이 */
.cus-container .cus-card:hover .cus-contentBx {
  height: 280px;
}

.cus-container .cus-card:hover .cus-contentBx2 {
  height: 80px;
}

/*  */

.cus-container .cus-card .cus-contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.cus-container .cus-card .cus-contentBx2 a {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.cus-container .cus-card .cus-contentBx2 div {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.cus-container .cus-card .cus-contentBx .cus-size,
.cus-container .cus-card .cus-contentBx .cus-color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.cus-container .card:hover .cus-contentBx .cus-size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.cus-container .cus-card:hover .cus-contentBx .cus-color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.cus-container .cus-card .cus-contentBx .cus-size div,
.cus-container .cus-card .cus-contentBx .cus-color div {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.cus-container .cus-card .cus-contentBx .cus-size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}


.cus-container .cus-card .cus-contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.cus-container .cus-card:hover .cus-contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;


}




/* 산타용 */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.wrapper {
  width: 350px;
  height: 500px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@-webkit-keyframes blink {
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }
}

@keyframes blink {
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }
}

.container {
  width: 380px;
  height: 500px;
  position: absolute;
  -webkit-transform: translateX(-50%) scale(0.85);
  -ms-transform: translateX(-50%) scale(0.85);
  transform: translateX(-50%) scale(0.85);
  top: -10px;
  left: 50%;
}

.container *:before,
.container *:after {
  position: absolute;
  content: "";
}

.santa {
  height: 220px;
  width: 200px;
  background-color: #e40513;
  border-radius: 80px;
  position: absolute;
  left: 115px;
  top: 200px;
}

.santa:before,
.santa:after {
  width: 40px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #f7d93f;
}

.santa:before {
  height: 130px;
}

.santa:after {
  height: 40px;
  background-color: #ffffff;
  bottom: -15px;
}

.face {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  height: 180px;
  width: 180px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fad2af;
  border: 25px solid #f2e6da;
  bottom: 140px;
}

.hand-l {
  background-color: #e40513;
  height: 90px;
  width: 105px;
  position: absolute;
  right: -30px;
  top: 20px;
  border-radius: 0 80px 0 0;
}

.hand-l:before {
  margin: auto;
  width: 35px;
  height: 15px;
  background-color: #EAEAEA;
  top: 85px;
  left: 71px;
}

.hand-l:after {
  height: 15px;
  width: 30px;
  background-color: #f2e6da;
  left: 74px;
  top: 101px;
  border-radius: 0 0 30px 30px;
}

.hand-r {
  height: 150px;
  width: 180px;
  border: 30px solid transparent;
  border-bottom: 40px solid #e40513;
  border-radius: 50%;
  position: absolute;
  bottom: 150px;
  left: -100px;
  -webkit-animation: wave 2s infinite;
  animation: wave 2s infinite;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}

@-webkit-keyframes wave {
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}

@keyframes wave {
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}

.hand-r:before {
  width: 35px;
  height: 15px;
  background-color: #EAEAEA;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
  top: 68px;
  left: -22px;
}

.hand-r:after {
  width: 30px;
  height: 15px;
  background-color: #fad2af;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
  left: -31px;
  top: 58px;
  border-radius: 15px 15px 0 0;
}

.beard {
  position: absolute;
  height: 90px;
  width: 180px;
  right: -25px;
  bottom: -25px;
  background-color: #ffffff;
  border-radius: 0 0 90px 90px;
}

.beard:before {
  height: 25px;
  width: 55px;
  background-color: #f2e6da;
  border-radius: 20px 0;
  left: 34px;
}

.beard:after {
  height: 25px;
  width: 55px;
  background-color: #f2e6da;
  border-radius: 0 20px;
  right: 34px;
}

.eyes {
  height: 12px;
  width: 12px;
  background-color: #0078ca;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 40px;
  -webkit-box-shadow: 38px 0 #0078ca, 19px 20px #f69697;
  box-shadow: 38px 0 #0078ca, 19px 20px #f69697;
}

.eyes:before {
  height: 12px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 10px 0;
  left: -10px;
  bottom: 20px;
}

.eyes:after {
  height: 12px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 0 10px;
  left: 32px;
  bottom: 20px;
}

.belt {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: #000000;
  top: 100px;
}

.belt:before {
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
  width: 40px;
  border: 7px solid #ffdc2e;
}

.belt:after {
  height: 5px;
  width: 15px;
  background-color: #ffdc2e;
  left: 100px;
  top: 12px;
}

.hat {
  position: absolute;
  height: 60px;
  width: 120px;
  background-color: #e40513;
  top: -99px;
  left: 85px;
  border-radius: 0 0 60px 60px;
}

.hat:before {
  height: 40px;
  width: 40px;
  background-color: #EAEAEA;
  left: 100px;
  top: -15px;
  border-radius: 50%;
}

.shoe {
  height: 20px;
  width: 20px;
  background-color: #000000;
  position: absolute;
  top: 220px;
  left: 60px;
  border-radius: 20px 0 0 0;
}

.shoe:before {
  height: 20px;
  width: 20px;
  background-color: #000000;
  top: 0px;
  left: 60px;
  border-radius: 0 20px 0 0;
}

.fab {
  color: #ff0000;
}

.santabag {
  z-index: -1;
  position: absolute;
  bottom: 3rem;
  right: -9rem;
}



/* 화면 전환용 css */

:root {
  --secondary-color: #000000;
  --contrast-color: #FFFFFF;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--contrast-color);
}

.container_trans {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand 2s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all 0.8s ease;
}

.container_content {
  width: 50%;
}

.container_content_inner {
  width: 80%;
  margin-left: 80px;
}

.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}

.container_img {
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}

.par {
  height: auto;
  overflow: hidden;
}



.title {
  overflow: hidden;
  height: auto;
}


@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }

  100% {
    transform: translateX(0px);
  }
}

