{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} 폰트 {% endcomment %}
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@500&display=swap"
    rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'style.css' %}?{% now 'U'%}" />
    {% comment %} 폰트 {% endcomment %}
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>

    {% if messages %}
    <div class="text-center"> {% for message in messages %}
      {{ message.tags }} {{message.message }}
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}
    {% endblock  %}
    {% bootstrap_javascript %}
</body>
</html>