{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} 폰트 {% endcomment %}
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@500&display=swap"
    rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'style.css' %}?{% now 'U'%}" />
    {% comment %} 폰트 {% endcomment %}
    <title>이름 정하기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="{% static 'js/chat.js' %}"></script>
    {% bootstrap_css %}

<body>
  <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header d-flex flex-column">
          <h1 class='text-center my-5'>카카오 로그인</h1>
          <div class="d-grid">
            <a href="{% url 'accounts:kakao' %}">
              <img src="{% static 'images/kakao_login.jpg' %}" alt="카카오 간편로그인" style='width:30rem' class='rounded-3'>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">대표이사 문경욱</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="navbar-brand">
            <a class="nav-link" href="{% url 'accounts:index' %}">회원</a>
          </li>
          <li class="navbar-brand">
            <a class="nav-link" href="{% url 'cards:index' %}">벽난로</a>
          </li>
          <li class="navbar-brand">
            <a class="nav-link" href="{% url 'meetings:index' %}">모임</a>
          </li>
          <li class="navbar-brand">
            <a class="nav-link" href="{% url 'chat:index' %}">채팅</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="navbar-brand">
            <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
          </li>
          <li class="navbar-brand">
            <a class="nav-link" href="{% url 'accounts:profile' request.user.pk %}">프로필</a>
          </li>
          <li class="navbar-brand">
            <a class="nav-link" href="{% url 'vocies:index' %}">문의</a>
          </li>
          {% else %}
          <li class="navbar-brand">
            <button type="button" class="nav-link border-0 bg-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
              로그인
            </button>
          </li>
          {% endif %} 
              <audio controls>
                <source src="{%static 'sounds/jinglebell.mp3' %}" type="audio/mp3">
              </audio>
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-auto-dismissible text-center" role="alert">
            {{ message }}
              </div>
              {% endfor %}
        </ul>
      </div> 
    </div>
  </nav>
    {% block content %}
    {% endblock  %}
    {% bootstrap_javascript %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        window.setTimeout(function() {
            $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function() {
                $(this).remove();
            });
        }, 1500);
    </script>
  </body>
</html>